In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install colorama

Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages

You are using pip version 9.0.1, however version 22.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [3]:
import colorama
from colorama import Fore

In [5]:
df = pd.read_csv('data.csv',names=['age','op_year','nodes','class'])
df.head()

   age  op_year  nodes  class
0   30       64      1      1
1   30       62      3      1
2   30       65      0      1
3   31       59      2      1
4   31       65      4      1

In [6]:
df.describe()

              age     op_year       nodes       class
count  306.000000  306.000000  306.000000  306.000000
mean    52.457516   62.852941    4.026144    1.264706
std     10.803452    3.249405    7.189654    0.441899
min     30.000000   58.000000    0.000000    1.000000
25%     44.000000   60.000000    0.000000    1.000000
50%     52.000000   63.000000    1.000000    1.000000
75%     60.750000   65.750000    4.000000    2.000000
max     83.000000   69.000000   52.000000    2.000000

In [7]:
df.shape

(306, 4)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x=df.drop('class',axis=1)
y=df['class']

In [10]:
x

     age  op_year  nodes
0     30       64      1
1     30       62      3
2     30       65      0
3     31       59      2
4     31       65      4
5     33       58     10
6     33       60      0
7     34       59      0
8     34       66      9
9     34       58     30
10    34       60      1
11    34       61     10
12    34       67      7
13    34       60      0
14    35       64     13
15    35       63      0
16    36       60      1
17    36       69      0
18    37       60      0
19    37       63      0
20    37       58      0
21    37       59      6
22    37       60     15
23    37       63      0
24    38       69     21
25    38       59      2
26    38       60      0
27    38       60      0
28    38       62      3
29    38       64      1
..   ...      ...    ...
276   67       66      0
277   67       61      0
278   67       65      0
279   68       67      0
280   68       68      0
281   69       67      8
282   69       60      0
283   69       65      0
284   69       66      0
285   70       58      0
286   70       58      4
287   70       66     14
288   70       67      0
289   70       68      0
290   70       59      8
291   70       63      0
292   71       68      2
293   72       63      0
294   72       58      0
295   72       64      0
296   72       67      3
297   73       62      0
298   73       68      0
299   74       65      3
300   74       63      0
301   75       62      1
302   76       67      0
303   77       65      3
304   78       65      1
305   83       58      2

[306 rows x 3 columns]

In [11]:
y

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      2
8      2
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     2
25     1
26     1
27     1
28     1
29     1
      ..
276    1
277    1
278    1
279    1
280    1
281    2
282    1
283    1
284    1
285    2
286    2
287    1
288    1
289    1
290    1
291    1
292    1
293    2
294    1
295    1
296    1
297    1
298    1
299    2
300    1
301    1
302    1
303    1
304    2
305    2
Name: class, Length: 306, dtype: int64

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=11)

In [13]:
x_test.shape

(77, 3)

In [14]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier()

In [15]:
model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [16]:
model.score(x_train,y_train)

0.9694323144104804

In [17]:
model.score(x_test,y_test)

0.7012987012987013

In [18]:
sample=x_test.values[1]

In [19]:
sample

array([65, 62, 22], dtype=int64)

In [20]:
model.predict([sample])
if(model.predict([sample])== 2):
   print(Fore.RED + "Death" )
else:
     print(Fore.BLUE+"Alive")

Death